# General
.DS_Store
._*
__*.*
*.sublime-project
*.sublime-workspace

# Config
config/env.php
config/local.*.php
!config/local.example.php

# Composer
composer.phar
vendor/

# Tools
phpstan.log
phpstan.neon

# App
var/*/*
!var/*/.gitkeep
