parameters:
    level: 4

    paths:
        - config
        - src

    tmpDir: var/tmp/phpstan

    ignoreErrors:
        -
            identifier: return.unusedType
            path: src/Session/Handler/DatabaseSessionHandler.php
