html {
    font-size: 12pt;
}

body {
    background-color: #f6f8fb;
    padding-top: 70px;
    font-size: 1rem;
}

.btn {
    font-size: 0.9rem;
}
.table {
    font-size: 0.875rem;
}

.form-label, .col-form-label, .form-check-label {
    font-size: 0.875rem;
}

.form-control, .form-select {
    font-size: 0.875rem;
}

input.form-control::placeholder {
    opacity: 0.5;
}

.tempus-dominus-widget {
    font-size: 0.875rem;
}

.bg-navbar {
    background-color: #222;
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
    background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 0px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler {

}

.nav-item {
    border-left: 2px solid var(--bs-dark);
}

.nav-item.active {
    border-left: 2px solid var(--bs-primary);
}

.nav-link-title {
    color: inherit;
}


.nav-link-title.dropdown-item, .nav-link-title.dropdown-item {
  color: var(--bs-nav-link-color);
  background-color: inherit;
}
.nav-link-title.dropdown-item:hover, .nav-link-title.dropdown-item:focus {
  color: var(--bs-nav-link-hover-color);
  background-color: inherit;
}
.nav-link-title.dropdown-item.active, .nav-link-title.dropdown-item:active {
  color: var(--bs-navbar-active-color);
  text-decoration: none;
  background-color: inherit;
}



.img-small {
    width: 65px !important;
    height: 65px !important;
}

.img-max-width {
    max-width: 150px !important;
}

.login-box {
    background-color: #ffffff;
    max-width: 460px;
}

.form-title {
    font-size: 1.2rem;
}

.card-header {
    background-color: transparent;
}

.card-footer {
    background-color: transparent;
}

.form-control-color-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  width: 85px;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.search-dropdown {
    width: 300px;
}
@media (min-width: 576px) {
    .search-dropdown {
        width: 500px;
    }
}

.mh-150px {
    max-height: 150px;
    position: relative;
}

.mh-250px {
    max-height: 250px;
    position: relative;
}

.toast {
    z-index: 1090;
    top: 35px;
}

.col-sticky {
    position:sticky;
    left:0px;
    background-color:white;
}
