ServerSignature Off

# Use the front controller as index file.
DirectoryIndex index.php

# Default Options
Options -Indexes
Options +FollowSymLinks

# Default Charset
AddDefaultCharset UTF-8

# Disabling MultiViews
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

# Rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to HTTPS
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<files .htaccess>
    Require all denied
</files>
